@import helper._
@import models.Project
@import models.User

@(currentProject: Project, currentUserOption: Option[User])(implicit request: Request[AnyContent], lang: Lang)

<form class="sidebar-section box" action="/@currentProject.name/lock" method="POST">
  @CSRF.formField
  @if(currentProject.isLocked) {
    @if(currentProject.isLockedBy(currentUserOption)) {
      @Messages("sidebar.lock.myself")
      <p class="time-left" data-seconds="@currentProject.lock.secondsLeft">@currentProject.lock.minutesAndSecondsLeft</p>
      <button class="btn btn-success btn-block" name="operation" value="release">@Messages("sidebar.lock.release")</button>
      <button class="btn btn-warning btn-block" name="operation" value="extend">@Messages("sidebar.lock.extend", 10)</button>
      <input type="hidden" name="user" value="@currentProject.lock.user.name">
    } else {
      @Messages("sidebar.lock.user", currentProject.lock.user.name)
      <p class="time-left" data-seconds="@currentProject.lock.secondsLeft">@currentProject.lock.minutesAndSecondsLeft</p>
    }
  } else {
    <select class="form-control" name="user">
      <option value="">[@Messages("sidebar.user.noselect")]</option>
      @User.allNames.map { name =>
        <option value="@name" @if(Some(User(name)) == currentUserOption) { selected }>
          @name
        </option>
      }
    </select>
    <button class="btn btn-success btn-block" name="operation" value="gain">@Messages("sidebar.lock.gain")</button>
  }
</form>

