@import helper._
@import models.Project
@import models.User

@(currentProject: Project, currentUserOption: Option[User])(implicit request: Request[AnyContent], messages: Messages)

<form class="sidebar-section box" action="@routes.Application.lock(currentProject.name)" method="POST"
  id="lock-form" @if(currentProject.isLocked) { data-lock-user="@currentProject.lock.user.name" }>
  @CSRF.formField
  @if(currentProject.isLocked) {
    <p>
      @Messages("sidebar.lock.user")
      <span class="label label-default">@currentProject.lock.user.name</span>
    </p>
    <p>
      @Messages("sidebar.lock.time_left")
      <span class="label label-danger time-left" data-seconds="@currentProject.lock.secondsLeft">
        @currentProject.lock.minutesAndSecondsLeft
      </span>
    </p>
    @if(currentProject.isLockedBy(currentUserOption)) {
      <button class="btn btn-warning btn-block" name="operation" value="extend">@Messages("sidebar.lock.extend", 10)</button>
      <button class="btn btn-success btn-block" name="operation" value="release">@Messages("sidebar.lock.release")</button>
      <input type="hidden" name="user" value="@currentProject.lock.user.name">
    }
  } else {
    <select class="form-control" name="user">
      <option value="">[@Messages("sidebar.user.noselect")]</option>
      @User.allNames.map { name =>
        <option value="@name" @if(Some(User(name)) == currentUserOption) { selected }>
          @name
        </option>
      }
    </select>
    <button class="btn btn-success btn-block" name="operation" value="gain">@Messages("sidebar.lock.gain")</button>
  }
</form>

