.sidebar-section {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
}
.box {
  background-color: #eee;
}
.log-frame {
  border: solid black 2px !important; //override twitter bootstrap's embed-responsive iframe
}
#deploy-log {
  display: none;
}
