@import models.Commit

@(commits: Iterable[Commit])

<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/commits.css")" />
</head>
<body>
  <div class="commits">
    <table>
      <tbody>
        @commits.map { commit =>
          <tr class="header">
            <td class="hash">
              @commit.abbrev
            </td>
            <td nowrap>@commit.author</td>
            <td>
              @commit.otherRefs.map { ref =>
                @ref match {
                  case "HEAD" => {
                    <span class="ref head">HEAD</span>
                  }
                  case _ if ref.startsWith("refs/remotes/origin/master") => {
                    <span class="ref master">origin/master</span>
                  }
                  case _ if ref.startsWith("refs/remotes/") => {
                    <span class="ref">@ref.stripPrefix("refs/remotes/")</span>
                  }
                  case _ if ref.startsWith("refs/heads/") => {}
                  case _ if ref.startsWith("refs/tags/") => {
                    <span class="ref tag">@ref.stripPrefix("refs/tags/")</span>
                  }
                  case _ => {
                    <span class="ref">@ref</span>
                  }
                }
              }
            </td>
            <td nowrap>@commit.datetime</td>
          </tr>
          <tr class="subject">
            <td colspan="5">@commit.subject</td>
          </tr>
          <tr>
            <td class="code" colspan="5">
            <pre>@commit.nameStatus</pre>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</body>
</html>


