@import helper._
@import models.Project
@import models.User

@(currentProject: Project, currentUserOption: Option[User])(implicit request: Request[AnyContent], lang: Lang)

<div class="panel @if(currentProject.isLockedBy(currentUserOption)) {panel-danger}else{panel-primary}">
  <div class="panel-heading">
    <h2 class="panel-title">@currentProject.name</h2>
  </div>

  @if(currentProject.isLockedBy(currentUserOption)) {
    <div class="well">
      <h4>@Messages("main.checkout")</h4>
      <form action="/@currentProject.name/checkout" method="post" class="form-inline">
        @CSRF.formField
        <input type="text" class="form-control" name="ref" value="origin/master" required>
        <button class="btn btn-success">@Messages("main.checkout")</button>
      </form>
      <form action="/@currentProject.name/deploy" method="post" target="deploy-log-frame" id="deploy-form">
        @CSRF.formField
        <h4>@Messages("main.deploy.staging")</h4>
        <button class="btn btn-success" name="target" value="staging">@Messages("main.deploy.staging")</button>

        <h4>@Messages("main.deploy.production")</h4>
        <button class="btn btn-success" name="target" value="production">@Messages("main.deploy.production")</button>
      </form>
    </div>
  }

  <div class="panel-body">
    @currentProject.readme.map { readme =>
      <pre>@readme</pre>
    }

    <div id="deploy-log" class="hidden embed-responsive embed-responsive-16by9">
      <iframe name="deploy-log-frame" class="log-frame embed-responsive-item" src="about:blank"></iframe>
    </div>

    <h3>@Messages("main.recent_commits")</h3>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="log-frame embed-responsive-item" src="@routes.Application.commits(currentProject.name)"></iframe>
    </div>

    <h3>@Messages("main.previous_log")</h3>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="log-frame embed-responsive-item" src="@routes.Application.logs(currentProject.name)"></iframe>
    </div>
  </div>
</div>


