@import helper._
@import models.Project
@import models.User

@(currentProject: Project, currentUserOption: Option[User], useWebSocket: Boolean)(implicit request: Request[AnyContent], lang: Lang)

@if(useWebSocket) {
  <input type="hidden" class="js-setting" data-name="use_web_socket" data-value="true">
}

<div class="panel @if(currentProject.isLockedBy(currentUserOption)) {panel-danger}else{panel-primary}">
  <div class="panel-heading">
    <h2 class="panel-title">@currentProject.name</h2>
  </div>

  @if(currentProject.isLockedBy(currentUserOption)) {
    <div class="well">
      <h4>@Messages("main.checkout")</h4>
      <form action="@routes.Application.checkout(currentProject.name)" method="post" class="form-inline command-form" target="command-log-frame">
        @CSRF.formField
        <input type="text" class="form-control" name="ref" value="origin/master" required>
        <button class="btn btn-success checkout-button">@Messages("main.checkout")</button>
      </form>
      <form action="@routes.Application.deploy(currentProject.name)" method="post" class="command-form" target="command-log-frame">
        @CSRF.formField
        <h4>@Messages("main.deploy.staging")</h4>
        <button class="btn btn-success deploy-button" name="target" disabled value="staging">@Messages("main.deploy.staging")</button>

        <h4>@Messages("main.deploy.production")</h4>
        <button class="btn btn-success deploy-button" name="target" disabled value="production">@Messages("main.deploy.production")</button>
      </form>
    </div>
  }

  <div class="panel-body">
    @currentProject.readme.map { readme =>
      <div>@Html(readme)</div>
    }

    <div id="command-log" class="hidden embed-responsive embed-responsive-16by9">
      <iframe name="command-log-frame" class="log-frame embed-responsive-item" src="about:blank"></iframe>
    </div>

    <h3>@Messages("main.recent_commits")</h3>
    <div id="commit-log" class="embed-responsive embed-responsive-16by9">
      <iframe class="log-frame embed-responsive-item" src="@routes.Application.commits(currentProject.name)"></iframe>
    </div>

    <h3>@Messages("main.previous_log") <a href="@routes.Application.logs(currentProject.name)" target="_blank" class="glyphicon glyphicon-hand-right"></a></h3>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="log-frame embed-responsive-item" src="@routes.Application.logs(currentProject.name)"></iframe>
    </div>
  </div>
</div>


