@import models.Project
@import models.User

@(currentProject: Project, currentUser: Option[User])(implicit lang: Lang)

<div class="sidebar-section box">
  <h3>@Messages("sidebar.header.projects")</h3>

  <ul class="nav nav-pills nav-stacked">
    @Project.allNames.map { name =>
      <li class="@if(name == currentProject.name) {active}" >
        <a href="/@name">@name</a>
      </li>
    }
  </ul>
</div>

<form class="sidebar-section box" action="/@currentProject.name/lock" method="POST">
  @if(currentProject.isLocked) {
    @if(Some(currentProject.lock.user) == currentUser) {
      @Messages("sidebar.lock.myself")
      <p class="time-left" data-seconds="@currentProject.lock.secondsLeft">@currentProject.lock.minutesAndSecondsLeft</p>
      <button class="btn btn-success btn-block" name="operation" value="release">@Messages("sidebar.lock.release")</button>
      <button class="btn btn-warning btn-block" name="operation" value="extend">@Messages("sidebar.lock.extend", 10)</button>
      <input type="hidden" name="user" value="@currentProject.lock.user.name">
    } else {
      @Messages("sidebar.lock.user", currentProject.lock.user.name)
      <p class="time-left" data-seconds="@currentProject.lock.secondsLeft">@currentProject.lock.minutesAndSecondsLeft</p>
    }
  } else {
    <select class="form-control" name="user">
      <option value="">[@Messages("sidebar.user.noselect")]</option>
      @User.allNames.map { name =>
        <option value="@name" @if(Some(User(name)) == currentUser) { selected }>
          @name
        </option>
      }
    </select>
    <button class="btn btn-success btn-block" name="operation" value="gain">@Messages("sidebar.lock.gain")</button>
  }
</form>
