@import helper._

@()(implicit request: Request[AnyContent], messages: Messages)

<h2>@Messages("welcome")</h2>

<p>@Messages("welcome.click_sidebar")</p>

<h3>@Messages("welcome.add_project")</h3>

<form action="@routes.Application.create()" method="post">
  @CSRF.formField
  <div class="input-group">
    <input type="text" class="form-control" name="url" value="" placeholder="https://github.com/edvakf/testploy.git" required>
    <span class="input-group-btn">
      <button class="btn btn-success" type="submit">git clone</button>
    </span>
  </div>
</form>

@if(!Project.allNames.isEmpty) {
  <h3>@Messages("welcome.remove_project")</h3>

  <table class="table table-striped">
    @Project.allNames.map { name =>
      <tr>
        <td>
          <form action="@routes.Application.remove(name)" method="post" class="form-inline">
            <button class="btn btn-xs btn-danger confirm" data-confirm-text="@Messages("welcome.remove_project_confirmation", name)"><i class="glyphicon glyphicon-trash"></i></button>
            @CSRF.formField
            @name
          </form>
        </td>
      </tr>
    }
  </table>
}
